<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Account List</title>
</head>
<body>

<section layout:fragment="content">
    <h1>Account List</h1>
    <table>
        <thead>
        <tr>
            <th>Account Number</th>
            <th>Account Holder Name</th>
            <th>Balance</th>
            <th>Opening Date</th>
            <th>Closing Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <td><a th:href="@{/banking/{accountNumber}(accountNumber=${account.accountNumber})}" th:text="${account.accountNumber}"></a></td>
            <td th:text="${account.accountHolderName}"></td>
            <td th:text="${account.balance}"></td>
            <td th:text="${account.openingDate}"></td>
            <td th:text="${account.closingDate}"></td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>