<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
  <meta charset="UTF-8">
  <title>Transaction History</title>
</head>
<body>
<section layout:fragment="content">
  <h1>Transaction History</h1>
  <table>
    <thead>
    <tr>
      <th>Transaction ID</th>
      <th>Type</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
      <td th:text="${transaction.id}"></td>
      <td th:text="${transaction.type}"></td>
      <td th:text="${transaction.date}"></td>
      <td th:text="${transaction.amount}"></td>
    </tr>
    </tbody>
  </table>
</section>

</body>
</html>