<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
  <meta charset="UTF-8">
  <title>Withdraw</title>
</head>
<body>
<section layout:fragment="content">
  <h1>Withdraw from Account: ${account.number}</h1>
  <form action="@{/banking/{accountNumber}/withdraw(accountNumber=${account.number})}" method="post">
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" step="0.01" required>
    <button type="submit">Withdraw</button>
  </form>
  <a th:href="@{/banking/{accountNumber}(accountNumber=${account.number})}">Back to Account Details</a>
</section>

</body>
</html>
